@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --blue: rgb(0, 128, 128);
  --greenish: rgb(0, 128, 0);
  --white: snow;
  --unusual_msg_color: rgb(199, 130, 26);
  --nice-blue: #0088ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--blue);
}

.navbar {
  padding-top: 0.3rem;
  color: var(--white);
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  position: relative;
  width: 100vw;
  height: auto;
  background-color: var(--blue);
  opacity: .75;
}

.navbardivider {

  color: var(--white);
}

.menus {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  padding: 0.3rem;
}

.dropdown {
  position: absolute;
  top: 100%;
  margin-top: .25rem;
  display: none;
  z-index: 10;
  left: auto;
  list-style: none;
  font-size: 0.6rem !important;
  background-color: var(--white);
  color: var(--blue);
  border-radius: 0.25rem;
  min-height: 2.25rem;
  font-weight: bold;
}

.dropdown.show {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  flex-wrap: nowrap;
}

.menu-item {
  border-radius: 0.15rem;
}

.menus li.active {
  background-color: var(--nice-blue);
  color: var(--white);
}

.menus li:hover {
  color: var(--nice-blue);
  background-color: var(--white);
}

@media only screen and (max-width: 300px) {
  .navbar ul {
    display: flex;
    row-gap: 0.3rem;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    row-gap: 0.3rem;
    flex-direction: column;
  }
}

.logo {
  border-radius: 10px;
  background-color: var(--greenish);
  padding: 0 5px;

}