.about {
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    flex-direction: column;
    height: 89vh;
    background: var(--blue);
    overflow: hidden;
}

.h_3 {
   font-size: 1.3rem;
}
.inner_content {
    font-size: 1rem;
    text-align: center;
}

.about_mediator {
    font-size: .8rem;
    text-align: center;
    font-style: italic;
}

