#chat {
    width: 100vw;
    height: 90vh;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    
}

#chat_container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;

    flex-direction: column;
    gap: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20px;
    margin-bottom: 10px;
    scroll-behavior: smooth;
}

/*hides scrollbar */
#chat::-webkit-scrollbar {
    display: none;
}

/*hides scrollbar */
#chat::-scrollbar {
    display: none;
}

/*hides scrollbar */
#chat_container::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100%;
    padding: 12px;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ai {
    background: var(--greenish);
    width: 100%;
    border-radius: 10px 20px 20px 10px;
}

.final_rendition {
    animation: fadeEffect 1s;
}

.chat {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.profile {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai .profile {
    background: var(--white);
}

.profile img {
    width: 90%;
    height: 90%;
    object-fit: contain;

}

.message {
    display: flex;
    color: var(--white);
    font-size: 16px;

    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    overflow-x: scroll;
    /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
    white-space: pre-wrap;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.message img {
    display: flex;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    padding: 0%;
}

.message .img_div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-height: 100px;
}

.img_div img {
    margin-left: 5px;
}

.span_ambiguous {
    color: var(--unusual_msg_color);
    padding: 0 5px;

}

.message_unusual {
    color: var(--unusual_msg_color);
    padding: 0 5px;
    border-radius: 5px;
    display: inline-block;
    padding-top: 3px;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
    display: none;
}

form {
    width: 100%;
    margin-top: 10px;
    background: var(--blue);
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    border-color: var(--white);
    border-width: thin;
    border-style: solid !important;
}

textarea:-moz-placeholder,
/* Firefox 18- */
textarea::-moz-placeholder,
/* Firefox 19+ */
textarea:-ms-input-placeholder,
/* IE 10+ */
textarea::-webkit-input-placeholder,
/* Webkit based */
textarea::placeholder {
    /* Modern browsers */
    color: var(--white);
}

textarea {
    width: 100%;
    color: var(--white);
    font-size: 18px;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
}

form img {
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

form img {
    margin-left: 8px;
}