.footer {
    bottom: 1.5vh;
    color:var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    height: 3vh;
    background: var(--blue);
}
.footer hr {
  color:var(--white);
  width: 100%;
}

